html, body {
    background: #eee;
    font-family: serif;
    height:100%;
    margin:0;
}
div#toggleMenu {
  background:#333;
  color:#eee;
  padding: 0px 10px;
  text-align: center;
}

.main-container {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
}


#menu{
  background:#333;
  color:#eee;
  display:none;
  max-width: 39%;
}


#out {
    -webkit-flex: 1;
    position: relative;
    width: 90%;
    background: #f8f8f8;
    padding: 0px 24px;
    box-shadow: 0 0 7px 0px #888 inset;
    height: 100%;
    overflow-y: scroll;
    background: #f8f8f8;
}
select {
    font-size: 1.61em;
    border-radius: 5px;
    width: 61%;
}
ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    padding: 4px 16px;
    font-size: 16pt;
    margin: 0px;
}
p {
    color: #333;
    margin: 8px 0px;
    font-size: 24pt;
}
#out a {
    font-size:24pt;
}

.fade {
    opacity: 1;
    color: #bbb;
    transition: color 10000ms linear;
}

div p:first-child {
    padding-top: 24px;
}
div p:last-child {
    color:#000;
    padding-bottom: 48px;
}

div#out a.choice {
    border: 1px #eee solid;
    border-radius: 20px;
    box-shadow: 0px 0px 3px #888;
    padding: 5px 10px;
    line-height: 1.61em;
    background: #eee;
    color: #833;
    text-decoration: none;
}

